APP_TITLE = Your store title
DATABASE_URL = Your database url
SECRET_KEY = Your secret key for jwt
ALGORITHM = Your algorithm for jwt
TOKEN = Your telegram token

POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=postgres_database