<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Motostore Project FastAPI</title>
    <link rel="stylesheet" type="text/css" href="/static/style/styles.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="navbar-nav">
            <a class="navbar-brand" href="/"><h1>Motostore</h1></a>
            
        </div>
    </nav>
    <nav class="navbar-nav">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                        <a class="nav-link" href="/catalog">Каталог</a>
                {% if is_authenticated(request) %}
                        <a class="nav-link" href="/user/profile">Профиль</a>
                        <a class="nav-link" href="/auth/logout">Выход</a>
                {% else %}
                        <a class="nav-link" href="/auth/login">Вход</a>
                        <a class="nav-link" href="/auth/registration">Регистрация</a>
                {% endif %}        
            </div>
        </div>
    </nav>   
</header>
<div class="container-fluid">
    {% block crud_container %}
    {% endblock %}
</div>
</body>
</html>