{% extends "main.html" %}

{% block crud_container %}
<section class="container-fluid">
    <h1>Мои заказы</h1>
    <div>
        {% for order in orders %}
        <div class="order-card">
            <div class="details">
                <h2>ID: {{ order.id }}</h2>
                <p>Дата: {{ order.timestamp }}</p>
                <p>Модель: {{ order.model }}</p>
                <p>Количество: {{ order.quantity }}</p>
                <p>Сумма: {{ order.purchase }}</p>
                <!-- Добавьте другие атрибуты по вашему усмотрению -->
            </div>
            <a href="/orders/{{ order.id }}">Смотреть всю информацию</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}

